<div class="row featurette" style="margin: 3em">
  <div class="col-md-7 order-md-2" style="justify-content: center">
    <div class="letter-text">
      Founded in 2023 by Vladislav Bylik, "HINKALI store" has come a long way from its beginnings in Poltava. When
      Vladislav Bylik first started out, his passion for "The best hinkali in the World" drove them to do tons of
      research so that "HINKALI store" can offer you "The world's best Hinkali". We now serve customers all over the
      World, and are thrilled that we're able to turn our passion into own website.
    </div>
    <div class="letter-text">
      We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments,
      please don't hesitate to contact us.
    </div>
    <div class="letter-text">Sincerely, Vladislav Bylik</div>
  </div>
  <div class="col-md-5 order-md-1">
    <img
      src="assets/img/about_creator.jpg"
      height="500"
      width="100%"
      alt="Vladislav"
      style="border-radius: 15px; object-position: right; object-fit: cover"
    />
  </div>
</div>
