### IDE
.idea
.vscode

# Visual Studio Code
/frontend/.vscode/


# Chaches
__pycache__
.mypy_cache
.angular
.pytest_cache

# Enviroment files
/backend/local.env
/backend/prod.env

# Node modules
node_modules

# Coverage
backend/htmlcov
backend/.coverage
backend/coverage.xml
frontend/coverage

# Docker
data

# Frontend
/frontend/dist/
/frontend/dest/

# Logs
*.log
