### IDE
.idea
.vscode

# Visual Studio Code
/frontend/.vscode/


# Chaches
__pycache__
.mypy_cache
.angular
.pytest_cache

# Enviroment files
/backend/local.env

# Node modules
node_modules

# Docker
data

# Frontend
/frontend/dist/

# Logs
*.log