.hero2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url('../../assets/img/hero_bg.jpg');
  background-position: center;
  filter: grayscale(40%);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: xxx-large;
}

p {
  margin-top: 1.5rem;
}

.hero2-text {
  z-index: 0;
  left: 5%;
  color: white;
  font-weight: 300;
  font-size: 22px;
  width: 45%;
  top: 35%;
  font-family: 'Roboto', serif;
  letter-spacing: 1.8px;
  position: relative;
  padding-left: 40px;
  padding-right: 30px;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em 1.5em 3em 1.5em;
}
.product-item {
  width: 200px;
  margin: 0.25em;
  padding: 10px 10px 5px 10px;
  border: 1px solid #303030;
  background: #202020;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  transition: 0.4s linear;
}
.product-img {
  transition: 1s ease-in-out;
}
.product-img:hover {
  transform: scale(1.1);
}
.product-img img {
  display: block;
  width: 100%;
}
.product-list {
  margin-top: 15px;
}
.product-list h3 {
  font-weight: 700;
  color: #39404b;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
}
.price {
  color: #e34d38;
  display: block;
  margin-bottom: 12px;
}
.stars {
  height: 14px;
  line-height: 14px;
  margin: 7px 0;
}
.stars:before {
  content: '\f005\f005\f005\f005\f006';
  color: #efb71c;
  font-size: 14px;
  font-family: FontAwesome, sans-serif;
}
.actions {
  border-top: 1px solid #eee;
  padding-top: 4px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}
.actions:after {
  content: '';
  display: table;
  clear: both;
}
.add-to-cart,
.add-to-links {
  float: left;
}
.cart-button {
  text-decoration: none;
  color: #8c877c;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  transition: 0.4s linear;
}
.cart-button:before {
  content: '\f07a';
  font-family: FontAwesome, sans-serif;
  margin-right: 10px;
}
.add-to-cart:hover .cart-button,
.wishlist:hover,
.compare:hover {
  color: #e34d38;
}
.wishlist,
.compare {
  color: #8c877c;
  padding-left: 17px;
  transition: 0.4s linear;
}
.wishlist:after,
.compare:after {
  display: inline-block;
  font-family: FontAwesome, sans-serif;
}
.wishlist:after {
  content: '\f004';
}
.compare:after {
  content: '\f079';
}

.recommended {
  text-align: center;
  color: #e34d38;
  font-family: Roboto, serif;
  margin-top: 4em;
}

.custom-shape-divider-bottom-1654463571 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654463571 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 171px;
}

.custom-shape-divider-bottom-1654463571 .shape-fill {
  fill: #202020;
}
