asgiref==3.5.1
Django==4.0.6
django-cors-headers==3.13.0
djangorestframework==3.13.1
Pillow==9.2.0
psycopg2-binary==2.9.3
pytz==2022.1
sqlparse==0.4.2
tzdata==2022.1
drf-yasg==1.21.3
setuptools==63.2.0
djoser==2.1.0
django-mptt~=0.13.4
coverage==6.4.2
factory-boy==3.2.1