<div class="card">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">{{ listDishes.length }} items</div>
        </div>
      </div>

      <div *ngIf="listDishes.length !== 0; else elseBlock">
        <div *ngFor="let item of listDishes" class="row">
          <div class="row main align-items-center">
            <div class="col-2">
              <a routerLink="/store/{{ item.id }}"><img class="img-fluid" src="{{ item.image }}" /></a>
            </div>
            <div class="col">
              <div class="row text-muted">{{ item.category }}</div>
              <div class="row">
                <a routerLink="/store/{{ item.id }}">{{ item.title }}</a>
              </div>
            </div>
            <div class="col">
              <a (click)="decAmount(item.id)">-</a>{{ getAmount(item.id) }}<a (click)="incAmount(item.id)">+</a>
            </div>
            <div class="col">
              $ {{ getSubPrice(item.id) }} <span (click)="delItem(item.id)" class="close">&#10005;</span>
            </div>
          </div>
        </div>
      </div>

      <ng-template #elseBlock>
        <div class="col" style="font-size: larger">Cart is empty :(</div>
      </ng-template>

      <div class="back-to-shop">
        <a routerLink="">&leftarrow;<a>Back to shop</a></a>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row">
        <div class="col" style="padding-left: 0">ITEMS {{ listDishes.length }}</div>
        <div class="col text-right">$ {{ getTotalPrice() }}</div>
      </div>
      <form>
        <p>COMMENT</p>
        <textarea style="width: 100%"></textarea>
        <p>DISCOUNT CODE</p>
        <input id="code" placeholder="Enter your code" />
      </form>
      <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">$ {{ getTotalPrice() }}</div>
      </div>
      <button (click)="createOrder()" class="btn">CHECKOUT</button>
    </div>
  </div>
</div>
