@import "../../assets/css/nicepage.css";

.u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 393px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 21.875rem;
  width: 597px;
  line-height: 0.9;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 504px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 55px 120px 30px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 4.75rem;
  font-weight: 400;
  text-transform: none;
  margin: 0 70px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 600;
  width: 735px;
  text-transform: none;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.25rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 48px auto 0;
  padding: 17px 81px 19px 79px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 135px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 497px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.375rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 700px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 917px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-3 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 677px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 16.875rem;
    width: 520px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.625rem;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 630px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-1 {
    font-size: 11.875rem;
    width: 320px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-left: 25px;
    margin-right: 25px;
  }
}
