Names consist solely of uppercase letters, digits, and the '_' (underscore).
```
#Development
DEBUG=_BOOL_  

#Secrets
SECRET_KEY=   

#DataBase
DB_NAME=   
DB_USERNAME=   
DB_PASSWORD=   
DB_HOST=   

#Email
EMAIL_HOST=   
EMAIL_PORT=   
EMAIL_HOST_USER=   
EMAIL_HOST_PASSWORD=   
EMAIL_USE_TLS=_BOOL_
```