.header {
  font-family: 'Bebas Neue', cursive;
  padding: 5px;
  text-align: center;
  background: #1c2725;
  color: #e86741;
  font-size: 50px;
  border-bottom: 3px solid #000;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
