<div class="container main">
    <div class="card">
      <div class="row">
        <div class="col-md-6 text-center align-self-center"> <img class="img-fluid" src="{{dish.image}}"></div>
        <div class="col-md-6 info">
          <div class="row title">
            <div class="col">
              <h2>{{dish.title}}</h2>
            </div>
            <div class="col text-right"><a href="#"><i class="fa fa-heart-o hearth">&#9825;</i></a></div>
          </div>
          <p>{{dish.description}}</p>
          <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star-half-full"></span> <span id="reviews">1590 Reviews</span>
          <div class="row price">
            {{dish.price}} $
          </div>
        </div>
      </div>
      <div class="row lower">
        <div class="col text-right align-self-center"> <button class="btn">Add to cart</button></div>
      </div>
    </div>
  </div>
