<!--<div class="footer">-->
<!--  <div style="padding-top: 1.5em; padding-bottom: 1.5em">Footer</div>-->
<!--</div>-->
<footer class="text-center text-white" style="background-color: #1c2725">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://facebook.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="https://img.icons8.com/ios-filled/344/facebook-new.png" style="width: 30px" alt="facebook" /><i
          class="fab fa-facebook-f"
        ></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://twitter.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="https://img.icons8.com/ios-filled/344/twitter.png" style="width: 30px" alt="twitter" /><i
          class="fab fa-twitter"
        ></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://google.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="https://img.icons8.com/ios-filled/344/google-logo.png" style="width: 30px" alt="google" /><i
          class="fab fa-google"
        ></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://instagram.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="https://img.icons8.com/glyph-neue/344/instagram-new.png" style="width: 30px" alt="instagram" /><i
          class="fab fa-instagram"
        ></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://linkedin.com/dborodin836"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="https://img.icons8.com/glyph-neue/344/linkedin-circled.png" style="width: 30px" alt="linkedin" /><i
          class="fab fa-linkedin"
        ></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/dborodin836"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="https://img.icons8.com/glyph-neue/344/github.png" style="width: 30px" alt="github" /><i
          class="fab fa-github"
        ></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-dark" href="">HINKALI-STORE</a>
  </div>
  <!-- Copyright -->
</footer>
