<form action="">
  <div class="container">
    <div class="labels">
      <div class="text-field">Category</div>
      <div class="text-field">Order by</div>
      <div class="text-field">Search</div>
    </div>
    <div class="buttons">
      <div class="select-field">
        <select
          (change)="onChangeCategory($event)"
          [(ngModel)]="filtered_category"
          class="form-select"
          name="category"
          id="category"
        >
          <option value="all">All</option>
          <option value="Drink">Drink</option>
          <option value="Dish">Dish</option>
          <option value="Misc">Misc</option>
        </select>
      </div>
      <div class="select-field">
        <select
          (change)="onChangeOrdering($event)"
          [(ngModel)]="ordering"
          class="form-select"
          style="width: 100%"
          name="ordering"
          id="ordering"
        >
          <option value="newest">Newest</option>
          <option value="popular">Most popular</option>
          <option value="max_price">Max price</option>
          <option value="min_price">Min price</option>
        </select>
      </div>
      <div class="search-field">
        <input (change)="onChangeText($event)" [(ngModel)]="keyword" class="form-control" type="text" />
      </div>
    </div>
    <input class="btn-submit" type="submit" />
  </div>
</form>

<div class="content-box">
  <div *ngFor="let dish of dishes" class="product-item">
    <div class="product-img">
      <a routerLink="{{ dish.id }}">
        <img
          src="{{ dish.image }}"
          style="min-height: 200px; max-height: 200px; border-radius: 15px; object-position: center; object-fit: cover"
        />
      </a>
    </div>
    <div class="product-list">
      <h3>{{ dish.title }}</h3>
      <div class="stars"></div>
      <span class="price">{{ dish.price }} UAH</span>
      <div class="actions">
        <div class="add-to-cart">
          <i class="fa-solid fa-cart-circle-plus"></i>
          <a (click)="addToCart(dish.id)" class="cart-button">В корзину</a>
        </div>
        <div class="add-to-links">
          <a class="wishlist"></a>
          <a href="" class="compare"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator
  #paginator
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[25, 50, 100, 150]"
  (page)="getServerData($event)"
>
</mat-paginator>
