* {
  box-sizing: border-box;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em 0 3em 3em;
}

.product-item {
  width: 200px;
  margin: 0.25em;
  padding: 10px 10px 5px 10px;
  border: 1px solid #303030;
  background: #202020;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  transition: 0.4s linear;
}

.product-img {
  transition: 1s ease-in-out;
}

.product-img:hover {
  transform: scale(1.1);
}

.product-img img {
  display: block;
  width: 100%;
}

.product-list {
  margin-top: 15px;
}

.product-list h3 {
  font-weight: 700;
  color: #39404b;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
}

.price {
  color: #e34d38;
  display: block;
  margin-bottom: 12px;
}

.stars {
  height: 14px;
  line-height: 14px;
  margin: 7px 0;
}

.stars:before {
  content: '\f005\f005\f005\f005\f006';
  color: #efb71c;
  font-size: 14px;
  font-family: FontAwesome, sans-serif;
}

.actions {
  border-top: 1px solid #eee;
  padding-top: 4px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}

.actions:after {
  content: '';
  display: table;
  clear: both;
}

.add-to-cart,
.add-to-links {
  float: left;
}

.cart-button {
  text-decoration: none;
  color: #8c877c;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  transition: 0.4s linear;
}

.cart-button:before {
  content: '\f07a';
  font-family: FontAwesome, sans-serif;
  margin-right: 10px;
}

.add-to-cart:hover .cart-button,
.wishlist:hover,
.compare:hover {
  color: #e34d38;
}

.wishlist,
.compare {
  color: #8c877c;
  padding-left: 17px;
  transition: 0.4s linear;
}

.wishlist:after,
.compare:after {
  display: inline-block;
  font-family: FontAwesome, sans-serif;
}

.wishlist:after {
  content: '\f004';
}

.compare:after {
  content: '\f079';
}

.labels {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.text-field {
  margin-right: 10px;
}

.select-field {
  margin-right: 10px;
  flex-grow: 1;
}

.search-field {
  flex-grow: 0.5;
}

.btn-submit {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.container {
  margin-top: 1.5em;
}
